%h3 Api key
#apikey= @apikey
%h3 Session
#session= @session
%h3 Token
#token= @token

#publisherContainer

%p
  To Chat with someone send him the following link:
  %br
  =link_to root_url+"?session_id=#{@session}", root_url+"?session=#{@session}"