%h3 Api key
#apikey= @apikey
%h3 Session
#session= @session
%h3 Token
#token= @token

.row-fluid
  .span6#publisherContainer
  .span6#subscribersContainer

  .span6
    %h2 Moi
  .span6
    %h2 Pas moi
  .span12
    %p
      Pour vchatter avec un correspondant faites lui passer le lien suivant:
      %br
      =link_to root_url+"?session_id=#{@session}", root_url+"?session=#{@session}"